@charset "utf-8";
/* CSS Document */
.wrapper
{
  width:100%;
  margin-top:14.5vh;
}
#TodayRecordArea{
	text-align:center;
	padding:50px 150px; 
	width:300px;
	-moz-box-shadow: 2px 2px 5px #888888; 
	box-shadow: 2px 2px 5px #888888;
}
#ColorSelection{
	text-align:center;
	}
#todayrecord #TodayRecordArea #Text {
	letter-spacing: normal;
	word-spacing: normal;
	background-color: #FFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}
#todayrecord #TodayRecordArea {
	background-image: url(../Image/jiangnan.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	
}
#todayrecord div button {
	background-image: url(../Image/Button4.jpg);
	background-size:contain; 
}
